.splash-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: rgb(224, 205, 233);
}

img {
  margin-bottom: 30px;
  width: 90px;
}

small {
  margin-top: 20px;
  color: gray;
}
